<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	body{
		color: #fff;
		background: #63738a;
		font-family: 'Roboto', sans-serif;
	}
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #5cb85c;
	}
    .form-control, .btn{
        border-radius: 3px;
    }
	.signup-form{
		width: 400px;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{
        font-size: 16px;
        font-weight: bold;
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #5cb85c;
		text-decoration: none;
	}
	.signup-form form a:hover{
		text-decoration: underline;
	}
</style>
</head>
<body>
<div class="signup-form">
{#    <form id="register_form" action="user_register" method="POST">#}
    <form id="register_form">

        {% csrf_token %}
		<h2>Register</h2>
		<p class="hint-text">Create your account Here !!</p>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input id="fname" type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6"><input id="lname" type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>
        </div>
        <div class="form-group">
            <input id="name" type="text" class="form-control" name="user_name" placeholder="Enter Username..." required="required">
        </div>
        <div class="form-group">
        	<input id="email" type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input id="password1" type="password" class="form-control" name="password1" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input id="password2" type="password" class="form-control" name="password2" placeholder="Confirm Password" required="required">
        </div>
{#        <div class="form-group">#}
{#			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>#}
{#		</div>#}
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="#">Sign in</a></div>
    <div>
{#        {% for message in messages %}#}
{#        <h3>{{ message }}</h3>#}
{#        {% endfor %}#}
    </div>
</div>
{#<script type="text/javascript" src="{% 'js/material.js' %}"></script>#}
{#<script type="text/javascript" src="{% 'js/jquery.min.js' %}"></script>#}
<script>
    $(document).on('submit', '#register_form',function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: 'user_register',
            data:{
                first_name:$('#fname').val(),
                last_name:$('#lname').val(),
                user_name:$('#name').val(),
                email:$('#email').val(),
                password1:$('#password1').val(),
                password2:$('#password2').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            {#data: $('#register_form').serialize(),#}
            success:function (data){
                alert("Registered !!")
                console.log(data)
            },
        });
    });
</script>
</body>
</html>