<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>
{% csrf_token %}
{#<div>#}
{#    <ul>#}
{#      <li><a class="active" href="#home">Home</a></li>#}
{#      <li><a href="#news">News</a></li>#}
{#      <li><a href="#contact">Contact</a></li>#}
{#      <li><a href="#about">About</a></li>#}
{#    </ul>#}
{#</div>#}
<div>
<ul>
<li><a class="active" href="#home">Home</a></li>
<li><a href="userlogin/register">Register</a></li>
<li><a href="userlogin/login">Log-In</a></li>
<li><a href="login/formpage">Form Page</a></li>
<li><a href="login/snippet">Snippet</a></li>



{% if user.is_authenticated %}
    <li><a href="account/logout">Log-Out</a></li>
{% else %}
    <li><a href="account/register">User Sign-Up</a></li>
<li><a href="account/login">User Sign-In</a></li>

{% endif %}
</ul>
<h4>Hello, <strong>{{ user.first_name }}</strong> !!</h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
<div class="container">
    <h3>Welcome to the Dashboard !!</h3>
</div>
</div>
</body>
</html>
