<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="login-form">

    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}

    <form id="login_form" action="user_login" method="POST">
{#    <form id="login_form">#}
        {% csrf_token %}
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input id="name" type="text" class="form-control" name="username" placeholder="Username" required="required" value="{{ username }}">
        </div>
        <div class="form-group">
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="required" value="{{ password }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="form-group">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center"><a href="{% url 'register' %}">Create an Account</a></p>
</div>
{#<script type="text/javascript" src="{% static 'js/material.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>#}
{#<script type="text/javascript">#}
{#    $(document).on('submit','#login_form', function (e) {#}
{#        e.preventDefault();#}
{#        $.ajax({#}
{#            type: 'POST',#}
{#            url: 'user_login',#}
{#            data:{#}
{#                name:$('#name').val(),#}
{#                password:$('#password').val(),#}
{#            },#}
{#            success.function(){#}
{##}
{#        }#}
{#        }),#}
{#    });#}
{#</script>#}
</body>
</html>