<!DOCTYPE html>
<html>
<head>
<title>IndexPage</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question_id %}">{{ question.question_text }}</a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Polls are available.</p>
{% endif %}
</body>
</html>


