{% extends 'basic_app/base.html' %}
{% block body_block %}
    <div class="jumbotron">
    <h2>Please Login</h2>
    <form action="{% url 'user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Username">
        <label for="password"></label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="LogIn">
    </form>
    </div>
{% endblock %}