{% extends "basic_app/base.html" %}
{% load static %}
{% block body_block %}
    <div class="jumbotron">
    {% if registered %}
        <h2>Thank you for Registration !!</h2>
    {% else %}
        <h2>Register Here !!</h2>
        <h4>Fill out the form</h4>
        <form class="" method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">
        </form>
    {% endif %} 
    </div>
{% endblock %}