<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
</head>
<body>

<div class="container">
    <form action="{% url 'form_name' %}" method="post">
        {% csrf_token %}
{#        {{ form.as_ul }}#}
        <ul style="list-style: none">
            <li> <label for="name">Name:
                <input id="name" type="text" name="name" maxlength="100" required value="{{ current_name }}"></label></li><br>
            <li><label for="id_subject">Subject:
                <input id="id_subject" type="text" name="subject" maxlength="10" required value="{{ current_subject }}"></label></li><br>
            <li><label for="id_message">Message:<textarea name="message" id="id_message" required></textarea></label></li><br>
            <li><label for="id_sender">Sender:</label><input type="email" name="sender" id="id_sender" required></li><br>
            <li><label for="id_cc_myself">Cc myself:</label><input type="checkbox" name="cc_myself" id="id_cc_myself"></li><br>
            <li><input type="submit" class="btn btn-primary" value="Submit"></li>
        </ul>
{#        <input type="submit" class="btn btn-primary" value="Submit">#}
    </form>

</div>
</body>
</html>