<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="{% url 'index' %}" style="border: 1px solid;">
    <center>
    <h1> Registration Form</h1>
    Enter your User_Name: <input type="text" name="username" placeholder="your user_name..."><br><br>
    Enter your Password: <input type="password" name="password" placeholder="your password..."><br><br>
    Enter your First_Name: <input type="text" name="first_name" placeholder="your first_name..."><br><br>
    Enter your Last_Name: <input type="text" name="last_name" placeholder="your last_name..."><br><br>
    <input type="submit"><br></center>
    </form>
</body>
</html>