<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Field</title>
</head>
<body>
    <form action="{% url 'snippet_detail' %}" method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</body>
</html>