<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<form action="{% url 'user_register' %}" method="post">
    {% csrf_token %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {{ form.as_ul }}
    <input type="submit" value="Submit">
</form>
</body>
</html>