<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
{{ error }}
    {% for message in messages %}
        {{ message }}
    {% endfor %}

    {{ form.as_ul }}
    <input type="submit" value="Submit">
</form>
</body>
</html>